# API KEYS
# Replace with your actual keys
ASSEMBLYAI_API_KEY=your_assemblyai_key
GEMINI_API_KEY=your_gemini_key
ELEVENLABS_API_KEY=your_elevenlabs_key
DID_API_KEY=your_did_key
ELEVENLABS_VOICE_ID=TX3LPaxmHKxFdv7VOQHJ
SIMLI_API_KEY=your_simli_key
INTERNAL_API_KEY=careerzone_internal_secret_key

# LLM Configuration
LLM_API_KEY=your_llm_api_key
LLM_BASE_URL=https://models.github.ai/inference
LLM_MODEL=openai/gpt-4.1

# MongoDB
MONGO_URI=
MONGO_DB_NAME=careerzone

# Project Config
API_V1_STR=/api
PROJECT_NAME="CareerZoneAI Backend"
